{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        <!-- Напишите свой код здесь (Вывод свойств объекта User) -->
        <h1>ID: {{user.user_id}}</h1>
        <h3>Name: {{user.username}}</h3>
        <h4>Age: {{user.age}}</h4>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    {% for user in users %}
                    <ul class="list-group list-group-flush">
                        <!-- Напишите свой код здесь (перебор пользователей) -->
                         <li>
                            <a href="/users/{{user.user_id}}"> {{ user.user_id }} - {{ user.username }} </a>
                         </li>
                    </ul>
                    {% endfor %}
                </div>
            </section>
    {% endif %}
{% endblock %}
